:root{
    --accent-color: #FF031A;
}
body, html{
    position: relative;
    overflow: hidden;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0 128px;
}
@media (max-width: 768px){
    body{
        padding: 0 30px;
    }
}